//
// Gibbs colors
//

$color-black: #000;
$color-gray: #ccc;
$color-white: #fff;

// Grayish blue
$gray-01: #f0f3f4;
$gray-02: #e0e7e9;
$gray-03: #d1dbde;
$gray-04: #c1cfd4;
$gray-05: #b2c3c9;
$gray-06: #a2b8be;
$gray-07: #93acb3;
$gray-08: #83a0a8;
$gray-09: #74949d;
$gray-10: #648892;
$gray-11: #557c87;
$gray-12: #45707d;
$gray-13: #366472;
$gray-14: #265867;
$gray-15: #174d5c;
$gray-16: #003b4c;
$gray-17: #003241;
$gray-18: #00212b;

// Primary Colors
$dark-blue-40: $gray-01;
$dark-blue-60: $gray-03;
$dark-blue-80: $gray-08;
$dark-blue-100: #46707d; // base color
$dark-blue-120: $gray-14;
$dark-blue-140: $gray-16;

$heritage-red-40: #fdeded;
$heritage-red-60: #f3a4a7;
$heritage-red-80: #ea5b60;
$heritage-red-100: #e21f26; // base color
$heritage-red-120: #b0181e;
$heritage-red-140: #751014;

$sky-blue-40: #d2edf2;
$sky-blue-60: #a4dbe5;
$sky-blue-80: #60c1d1;
$sky-blue-100: #009bb5; // base color
$sky-blue-120: #007c91;
$sky-blue-140: #006a7c;

// Secondary colors
$forest-green-40: #dfefe2;
$forest-green-60: #96d7a1;
$forest-green-80: #64bd73;
$forest-green-100: #3da04e; // base color
$forest-green-120: #238834;
$forest-green-140: #0c6b1d;

$light-green-40: #dbeee8;
$light-green-60: #c9e5dc;
$light-green-80: #a5d4c5;
$light-green-100: #7abfaa; // base color
$light-green-120: #489a81;
$light-green-140: #247c61;

$yellow-40: #fff5cc;
$yellow-60: #ffeb99;
$yellow-80: #ffdc4d;
$yellow-100: #ffcd00; // base color
$yellow-120: #d8ad00;
$yellow-140: #ab8200;

$salmon-40: #fcdcd9;
$salmon-60: #f9b9b2;
$salmon-80: #f6968c;
$salmon-100: #f15a4a; // base color
$salmon-120: #cd4d3f;
$salmon-140: #9f3c31;

$blue-40: #dae7f1;
$blue-60: #a3c4db;
$blue-80: #6da1c5;
$blue-100: #3f7aa3; // base color
$blue-120: #326081;
$blue-140: #2a506b;

$indigo-40: #e4e2ea;
$indigo-60: #c9c6d5;
$indigo-80: #a19ab6;
$indigo-100: #756b93; // base color
$indigo-120: #615879;
$indigo-140: #423860;