.h-ruler {
  position: absolute;
  top: 0;
  left: 26px;
  border: 1px solid $ruler-border;
  border-top: none;
}

.v-ruler {
  position: absolute;
  top: 26px;
  left: 0;
  border: 1px solid $ruler-border;
  border-left: none;
}

.ruler-guide {
  position: absolute;
  background-color: #e21f26;
}

.v-guide {
  height: 100%;
  width: 1px;
  top: 0;
  left: 0;
  cursor: col-resize;
  z-index: 2;
  border-right: 1px solid #e21f26;
}

.h-guide {
  width: 100%;
  height: 1px;
  left: 0;
  cursor: row-resize;
  border-top: 1px solid #e21f26;
}
