<div class="app-undo-reset"></div>
<div id="svg-canvas" class="canvas-wrap">
  <app-background-image [backgroundImage]="image" [imageType]="'canvas'"></app-background-image>
  <app-shared-dropzone *ngFor="let item of dropZones; let i = index" [currentIndex]="i" [dockObj]="item">
  </app-shared-dropzone>
  <div class="leader-lines-container">
    <svg class="leader-lines">
      <g *ngFor="let node of leaderLineNodes" [nodeObj]="node" [color]="'white'" [offset]="1" [strokeWidth]="2"
        app-leaderline></g>
      <g *ngFor="let node of leaderLineNodes" [nodeObj]="node" [color]="'black'" [offset]="0" [strokeWidth]="1"
        app-leaderline></g>
    </svg>
  </div>
  <ng-container *ngIf="state.magnifySettings.enabled">
    <app-magnify-preview></app-magnify-preview>
  </ng-container>
  <app-skip-link type="canvas"></app-skip-link>
</div>
