// @import 'node_modules/@mhe/openlearning-themekit-icons/icons/av-control-play-outline';
// @import 'node_modules/@mhe/openlearning-themekit-icons/icons/av-control-pause-outline';
@import "node_modules/@mhe/openlearning-themekit-icons/icons/_movingtile";
@import 'node_modules/@mhe/openlearning-themekit-icons/icons/moreinfo';

.labels {
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px solid #d2dbde;
}
.labels-heading{
  padding: 10x;
  border-bottom: 1px solid #d2dbde;
  text-align: center;
}
.label-text{
  margin-left: 20px;
}
.no-text {
  display: none;
}

.label-area {
  width: 226px;
  height: 100%;
  border-right: 1px solid #d2dbde;
  background-color: #fff;
  position: relative;
  z-index: 1;
  user-select: none;
}

.label-wrap {
  overflow-y: auto;
  height: calc(100% - 156px);
  overflow-x: hidden;
}

.label-reorder-wrap {
  height: calc(100% - 120px) !important;
}

.label-text-area {
  // height: 78px;
  border-bottom: solid 1px #d2dbde;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  border-bottom: solid 1px #d2dbde;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

// .label-text-box {
//   width: 150px;
//   float: left;
//   height: auto;
//   min-height: 60px;
//   margin: 9px 6px 6px 23px;
//   border-radius: 3px;
//   border: solid 1px #d1dbde;
//   background-color: #fff;
//   justify-content: center;
//   align-items: center;
//   display: flex;
// }

.text-media-box {
  width: 150px;
  float: left;
  height: auto;
  min-height: 60px;
  margin: 9px 6px 2px 23px;
  border-radius: 3px;
  border: solid 1px #d1dbde;
  background-color: #fff;
  text-align: center;
}

.label-media-text {
  display: block;
  // margin-top: 2px;
  // opacity: 0.5;
  margin-bottom: -10px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #46707d;
  text-align: center;
}

.placeholder-copy {
  display: block;
  // margin-top: 16px;
  opacity: 0.5;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #46707d;
  text-align: center;
}

.placeholder-copy-text {
  opacity: 1 !important;
}
.drag-handler-move{
  margin: auto;
}

.kebab {
  // float: right;
  // margin-top: 21px;
  // width: 31px;
  // height: 20px;
  padding: 2px 7px 0px 6px;
  // margin: auto;
  // cursor: none;
  // pointer-events: none;
  // background-color: rgba(0, 0, 0, 0);
  // margin-right: 12px;
}

.note-feedback {
  /* width: 131px; */
  /* height: 20px; */
  /* margin: 1px 29px; */
  /* font-size: 15px; */
  /* font-weight: normal; */
  /* font-stretch: normal; */
  /* font-style: normal; */
  /* line-height: 1.25; */
  border-bottom: 1px solid #007c91;
  letter-spacing: normal;
  color: #007c91;
  /* display: flex; */
}

.single-label {
  display: flex;
}

// .border-line {
//   width: 135px;
//   height: 1px;
//   margin: 0px 27px 0;
//   border: solid 1px #007c91;
//   margin-bottom: 6px;
// }

// .media-text-display {
//   height: 38px;
// }

// .note-feedback-display {
//   // float: left;
// }

// .media-image {
//   width: 56px;
//   height: 56px;
//   margin-left: 50px;
// }

// .media-image-text {
//   height: 36px;
// }

.media-audio {
  margin: 0px 0px 0px 28px;
}

// .media-text-note-feedback {
//   margin: 9px 6px 5px 23px !important;
// }

.label-text-audio-box {
  width: 150px;
  float: left;
  height: 26px;
  margin: -9px 6px 2px -1px;
  // border-radius: 3px;
  border: solid 1px #d1dbde;
  background-color: #fff;
}

.audio-without-text {
  margin-top: 12px;
}

// .distractor-border {
//   border-color: #d8ad00;
// }

.border-bottom-label {
  border-bottom: 1px solid #d1dbde;
  width: 149px;
}

.drag-label-placeholder {
  background: #ccc;
}

.cdk-drag-preview {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-handle {
  cursor: move;
}

.button {
  margin: 15px 15px 10px 15px !important;
}