<div class="app-wrap app-border">
  <div class="canvas-stage d-flex">
    <section class="app-shared-labels" aria-label="labels"></section>

    <ng-container [ngSwitch]="state.activity.name">
      <ng-template [ngSwitchCase]="'labeling'">
        <section class="dropzone-wrap" aria-label="Dropzone">
          <div class="app-check-my-work-labelling svg-wrap" id="droZoneContainer"></div>
        </section>
      </ng-template>
      <ng-template [ngSwitchCase]="'grouping'">
        <section class="dropzone-wrap" aria-label="Dropzone">
          <div class="app-check-my-work-group svg-wrap" id="droZoneContainer"></div>
        </section>
      </ng-template>
    </ng-container>
  </div>
</div>
