<div class="canvas">
  <app-tooltip [text]="canvasTranslation" [templateRef]="canvasTooltip"></app-tooltip>
  <mhe-alert *ngIf="showCanvasWarning" [smallAlert]="true" [type]="alertType.Error" [closable]="false"
    >Canvas Width x Height must be {{ config.MIN_CANVAS_WIDTH }} x {{ config.MIN_CANVAS_HEIGHT }} or more.</mhe-alert
  >
  <form [formGroup]="canvasSettingForm" class="canvas__units">
    <div class="dpg-ui form-group">
      <label for="canvas-width">
        {{ 'WIDTH' | translate }}
      </label>
      <input
        type="number"
        class="form-control"
        id="canvas-width"
        formControlName="width"
        #width
        step="100"
        (change)="onCanvasChange(width.valueAsNumber, height.valueAsNumber)"
      />
    </div>
    <div class="dpg-ui form-group">
      <label for="canvas-height">
        {{ 'HEIGHT' | translate }}
      </label>
      <input
        type="number"
        class="form-control"
        id="canvas-height"
        formControlName="height"
        #height
        step="100"
        (change)="onCanvasChange(width.valueAsNumber, height.valueAsNumber)"
      />
    </div>
  </form>

  <div class="canvas__grid">
    <mhe-checkbox [checked]="state.canvas.showGrid" (change)="updateGuideAndGrid($event, 'showGrid', true)"
      >Show
      {{ 'GRID' | translate }}
    </mhe-checkbox>
  </div>
  <ng-container *ngIf="state.activity.name === 'labeling'">
    <hr />
    <app-tooltip [text]="guidesTranslation" [templateRef]="guideTooltip"></app-tooltip>
    <div class="canvas__guide">
      <div class="guide-checkbox-block">
        <mhe-checkbox
          class="guide-checkbox"
          [checked]="state.canvas.hideGuide"
          (change)="updateGuideAndGrid($event, 'hideGuide', true)"
          >{{ 'HIDE' | translate }}</mhe-checkbox
        >
        <mhe-checkbox
          class="guide-checkbox"
          [checked]="state.canvas.lockGuide"
          (change)="updateGuideAndGrid($event, 'lockGuide', true)"
          >{{ 'LOCK' | translate }}</mhe-checkbox
        >
        <mhe-checkbox
          class="guide-checkbox"
          [checked]="state.canvas.snapGuide"
          (change)="updateGuideAndGrid($event, 'snapGuide', true)"
          >{{ 'SNAP' | translate }}</mhe-checkbox
        >
      </div>
      <div class="guide-btn-block">
        <button
          mhe-button
          [purpose]="buttonPurpose.Secondary"
          (click)="showDeleteGuidesPopup()"
          [disabled]="checkDeleteDisabled()"
        >
          {{ 'DELETE_ALL_GUIDES' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #canvasTooltip>
  <h4>{{ 'CANVAS' | translate }}</h4>
  <p>
    {{ 'CANVAS_INFO_TEXT' | translate }}
  </p>
</ng-template>

<ng-template #guideTooltip>
  <h4>{{ 'GUIDES' | translate }}</h4>
  <p>
    {{ 'GUIDES_INFO_TEXT1' | translate }}
  </p>
  <p>
    {{ 'GUIDES_INFO_TEXT2' | translate }}
  </p>
  <p>
    {{ 'GUIDES_INFO_TEXT3' | translate }}
  </p>
</ng-template>
