<app-modal
  titleText="Activity"
  [confirmButtonText]="confirmButtonText"
  [cancelButtonText]="false"
  [isOpen]="modalIsVisible"
  (show)="modalIsVisible = true"
  (confirm)="onStart($event); modalIsVisible = false"
  (overlayClick)="modalIsVisible = true"
  [disableConfirm]="typeOfActivity === ''"
  panelClass="activity-modal"
>
  <form>
    <div class="radio-group activity-section" mheRadioGroup (radioGroupChange)="groupChangeActivity($event)">
      <fieldset class="d-flex flex-column">
        <legend class="d-flex align-items-center">
          <h4 class="d-inline-flex">{{ 'SELECT_ACTIVITY' | translate }}</h4>
          <button
            mhe-button
            purpose="btn-icon"
            panelClass="custom-activity-tooltip"
            [mheToggletip]="activity"
            placement="right"
            aria-expanded="false"
            aria-label="Instructions"
          >
            <span
              ><i class="dpg-icon ngx-icon_30x30 dpg-icon-moreinfo"><span class="sr-only"></span></i
            ></span>
          </button>
        </legend>
        <mhe-radio-button value="labeling" default [checked]="typeOfActivity === 'labeling'"
          >{{ 'IMAGE_LABELING' | translate }}
        </mhe-radio-button>
        <mhe-radio-button value="grouping" [checked]="typeOfActivity === 'grouping'"
          >{{ 'GROUPING' | translate }}
        </mhe-radio-button>
      </fieldset>
    </div>
    <div
      class="radio-group"
      [disabled]="typeOfActivity === ''"
      (radioGroupChange)="groupChangeInteraction($event)"
      mheRadioGroup
    >
      <fieldset class="d-flex flex-column">
        <legend class="d-flex align-items-center">
          <h4 class="d-inline-flex">{{ 'LABEL_INTERACTION' | translate }}</h4>
          <button
            mhe-button
            purpose="btn-icon"
            panelClass="custom-activity-tooltip"
            [mheToggletip]="typeOfActivity === 'labeling' ? imageActivity : groupActivity"
            placement="right"
            aria-expanded="false"
            aria-label="Instructions"
          >
            <span
              ><i class="dpg-icon ngx-icon_30x30 dpg-icon-moreinfo"><span class="sr-only"></span></i
            ></span>
          </button>
        </legend>
        <mhe-radio-button value="one-label-one-dock" [checked]="typeOfInteraction === 'one-label-one-dock'"
          >{{ 'ONE_LABEL_TO_ONE_DOC' | translate }}
        </mhe-radio-button>
        <mhe-radio-button value="one-label-multiple-dock" [checked]="typeOfInteraction === 'one-label-multiple-dock'">
          {{ 'SAME_LABEL_TO_MULTIPLE_DOCS' | translate }}</mhe-radio-button
        >
      </fieldset>
    </div>

    <div class="radio-group" mheRadioGroup>
      <div
        class="d-flex flex-column display-instance"
        [disabled]="typeOfInteraction !== 'one-label-multiple-dock'"
        (radioGroupChange)="groupChangeOccurrence($event)"
        mheRadioGroup
      >
        <mhe-radio-button value="display-once" [checked]="typeOfOccurrence === 'display-once'"
          >{{ 'DISPLAY_LABEL_ONCE' | translate }}
        </mhe-radio-button>
        <mhe-radio-button value="display-each-instance" [checked]="typeOfOccurrence === 'display-each-instance'">
          {{ 'DISPLAY_EACH_LABEL_INSTANCE' | translate }}
        </mhe-radio-button>
      </div>
    </div>
  </form>
</app-modal>

<ng-template #activity>
  <h4>{{ 'IMAGE_LABELING' | translate }}</h4>
  <p>
    {{ 'IMG_LABEL_INFO' | translate }}
  </p>
  <h4>{{ 'GROUPING' | translate }}</h4>
  <p>
    {{ 'GRPING_INFO' | translate }}
  </p>
</ng-template>

<ng-template #imageActivity>
  <h4>{{ 'ONE_LABEL_TO_ONE_DOC' | translate }}</h4>
  <p>{{ 'EACH_LABEL_APPEAR_ONCE' | translate }}</p>
  <h4>{{ 'SAME_LABEL_TO_MULTIPLE_DOCS' | translate }}</h4>
  <ul>
    <li>
      <h4>{{ 'DISPLAY_LABEL_ONCE' | translate }}</h4>
      <p>{{ 'EACH_MULTI_LABEL_APPEAR_TWICE' | translate }}</p>
    </li>
    <li>
      <h4>{{ 'DISPLAY_EACH_LABEL_INSTANCE' | translate }}</h4>
      <p>{{ 'EACH_MULTI_LABEL_APPEAR' | translate }}</p>
    </li>
  </ul>
</ng-template>
<ng-template #groupActivity>
  <h4>{{ 'ONE_LABEL_TO_ONE_DOC' | translate }}</h4>
  <p>{{ 'EACH_LABEL_APPEAR_ONCE' | translate }}</p>
  <h4>{{ 'SAME_LABEL_TO_MULTIPLE_DOCS' | translate }}</h4>
  <ul>
    <li>
      <h4>{{ 'DISPLAY_LABEL_ONCE' | translate }}</h4>
      <p>
        {{ 'EACH_MULTI_LABEL_APPEAR_TWICE' | translate }}
      </p>
    </li>
    <li>
      <h4>{{ 'DISPLAY_EACH_LABEL_INSTANCE' | translate }}</h4>
      <p>
        {{ 'EACH_MULTI_LABEL_APPEAR' | translate }}
      </p>
    </li>
  </ul>
</ng-template>
