<div class="toggle-container" [ngClass]="{ checked: checked, disabled: disabled }" [attr.tabindex]="disabled ? -1 : 0"
    (keypress)="onKeyPressed($event)">
    <input #input type="checkbox" class="dpg-ui-toggle" [disabled]="disabled" [ngClass]="{ checked: checked }"
        (change)="_onChangeEvent($event); changeHandler()" [attr.checked]="checked"
        id="{{ templateUuids.get('input') }}" />
    <label for="{{ templateUuids.get('input') }}" [ngClass]="getLabelPosition(labelPosition, enableLight)">
        <span class="pill-wrapper" [ngClass]="{ 'inverted-toggle': enableLight }">
            <svg class="circle-container" viewbox="0 0 20 20">
                <circle r="8" cy="9" cx="9" stroke-width="1" stroke="#265867" fill="#FFFFFF"></circle>
            </svg>
            <i *ngIf="!checked" aria-hidden="true" class="dpg-icon dpg-icon-system-close"></i>
            <i *ngIf="checked" aria-hidden="true" class="dpg-icon dpg-icon-confirmation-white"></i>
        </span>
        <span class="label-text"><ng-content></ng-content></span>
        <span class="sr-only"> {{ srSwitch }}</span>
        <span class="sr-only">{{ srLabel }} </span>
    </label>
</div>