.dpg-icon-audioon::before,
.ahe-icon-audioon::before {
    content: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23265867' d='M12 4.707L7.707 9H3v6h4.707L12 19.293V4.707zM7.293 8l4.853-4.854A.5.5 0 0 1 13 3.5v17a.5.5 0 0 1-.854.354L7.293 16H3a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h4.293z'/%3E%3Cpath fill='%23009bb5' d='M14.534 17.334A6.985 6.985 0 0 0 17 12c0-2.137-.957-4.05-2.466-5.334l.884-.552A7.979 7.979 0 0 1 18 12a7.979 7.979 0 0 1-2.582 5.886l-.884-.552zm3.496 2.184A10.962 10.962 0 0 0 21 12a10.96 10.96 0 0 0-2.97-7.518l.862-.54A11.956 11.956 0 0 1 22 12c0 3.101-1.177 5.928-3.108 8.058l-.862-.54z'/%3E%3C/svg%3E");
}

.btn-secondary-light {

    .dpg-icon-audioon::before,
    .ahe-icon-audioon::before {
        content: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 4.707L7.707 9H3v6h4.707L12 19.293V4.707zM7.293 8l4.853-4.854A.5.5 0 0 1 13 3.5v17a.5.5 0 0 1-.854.354L7.293 16H3a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h4.293zm7.24 9.334A6.985 6.985 0 0 0 17 12c0-2.137-.957-4.05-2.466-5.334l.884-.552A7.979 7.979 0 0 1 18 12a7.979 7.979 0 0 1-2.582 5.886l-.884-.552zm3.497 2.184A10.962 10.962 0 0 0 21 12a10.96 10.96 0 0 0-2.97-7.518l.862-.54A11.956 11.956 0 0 1 22 12c0 3.101-1.177 5.928-3.108 8.058l-.862-.54z'/%3E%3C/svg%3E");
    }
}

.btn-icon {
    &:not(.ngx-shared) {

        &:hover,
        &:active,
        &.active {
            &:not(:disabled, .disabled) {

                .dpg-icon-audioon::before,
                .ahe-icon-audioon::before {
                    content: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M12 4.707L7.707 9H3v6h4.707L12 19.293V4.707zM7.293 8l4.853-4.854A.5.5 0 0 1 13 3.5v17a.5.5 0 0 1-.854.354L7.293 16H3a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h4.293zm7.24 9.334A6.985 6.985 0 0 0 17 12c0-2.137-.957-4.05-2.466-5.334l.884-.552A7.979 7.979 0 0 1 18 12a7.979 7.979 0 0 1-2.582 5.886l-.884-.552zm3.497 2.184A10.962 10.962 0 0 0 21 12a10.96 10.96 0 0 0-2.97-7.518l.862-.54A11.956 11.956 0 0 1 22 12c0 3.101-1.177 5.928-3.108 8.058l-.862-.54z'/%3E%3C/svg%3E");
                }
            }
        }
    }
}